* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #feb800;
  --background-color: #17191a;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: 'URW', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

p,
li,
a {
  font-size: 1.6rem;
}
